@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Oswald:wght@300&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    background: url(img/bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.btn {
    position: relative;
    width: 80vw;
    height: auto;
    display: block;
    margin-top: 36px;
    margin-inline: auto;
    background: #8A2BE2;
    padding: 12px;
    border-radius: 15px;
    color: #FFF;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    letter-spacing: 4px;
}

.btn:hover {
    box-shadow: 0 0 10px 10px #ffffff4d,
        0 0 20px 30px #ffffff33,
        0 0 30px 30px #ffffff1a;
    transition-delay: .1s;
    color: #61749e;
    background: #FF0;
}

.btn:active {
    transition-delay: unset;
    transition-duration: 0.25;
    transform: scale(0.95);
}

.container {
    background: transparent;
    width: 98vw;
}

.container h1, h2 {
    color: #F0F0F0;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    text-align: center;
    text-decoration: underline solid #F0F0F0;
}

.container h1 {font-size: 56px;}
.container h2 {font-size: 40px;}

.container p {
    color: #f5f5f5;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    line-height: 1.25;
    text-align: justify;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-inline: 5%
}

.container .parallax-window {
    height: 800px;
    width: 98vw;
    margin: 0;
    background: transparent;
}

.container .parallax-window1 {
    height: 370px;
    max-width: 3210px;
    background: transparent;
}

.container .parallax-window2, .parallax-window3 {
    height: 540px;
    background: transparent;
}
