* {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
    background-color: #0f0f0f;
}

.btn {
    width: 70vw;
    display: block;
    background: #f0f0f0;
    padding: 12px;
    margin: 1rem auto;
    border-radius: 8px;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 24px;
    color: #0f0f0f;
    font-family: "Oswald", sans-serif;
    text-align: center;
}

.btn:hover {
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.3),
        0 0 10px 15px rgba(255, 255, 255, 0.2),
        0 0 15px 20px rgba(255, 255, 255, 0.1);
    display: block;
    border: #F0F0F0 solid 1px;
	color: #F0F0F0;
	text-shadow: 0 0 1px #F0F0F0;
	background-color: #000;
}

.page1, .page2 {
    width: 100%;
    display: table;
    clear: both;
    padding: 5rem 0;
}

.page1 {background: #0F0F0F;}
.page2 {background: #F0F0F0;}

img {
    position: relative;
    width: 48%;
    height: auto;
}

.page1 img {float: left;}
.page2 img {float: right;}

.text {
    width: 50%;
    padding: 14px;
}

.page1 .text {
    color: #f0f0f0;
    float: right;
}

.page2 .text {
    color: #0f0f0f;
    float: left;
}

h2 {
    color: inherit;
    text-decoration: underline;
    font-family: "Prompt", sans-serif;
    line-height: 1.5;
}

p {
    color: inherit;
    text-align: justify;
    font-family: "Prompt", sans-serif;
    line-height: 1.2;
}
