* {
    scroll-behavior: smooth;
}

body {
    background: url(img/bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.btn {
    width: 70%;
    background: #550000;
    display: block;
    margin: 30px auto;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 24px;
    color: #fff;
    font-family: "Oswald", sans-serif;
    text-align: center;
}

.btn:hover {
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.3),
                0 0 20px 30px rgba(255, 255, 255, 0.2),
                0 0 30px 30px rgba(255, 255, 255, 0.1);
    transition-delay: 0.1s;
    color: #440000;
    background: #9acd32;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

h2 {
    font-family: "Amatic SC", cursive;
    color: whitesmoke;
    text-align: center;
}

p {
    color: whitesmoke;
    font-size: 20px;
    font-family: "Prompt", sans-serif;
    text-align: justify;
    margin: 12px 16px;
    display: block;
}

q {
    display: block;
    margin: 0.75em 1.5em;
    font-style: italic;
}

.section-dark {
    background-color: black;
    color: #ddd;
    text-align: center;
}

.container {
    background: transparent;
    width: 100%;
}

.parallax-window {
    display: block;
    max-width: calc(100% - 2em);
    margin-inline: auto;
    height: 540px;
    background: transparent;
}

